a, a:visited, a:hover, a:active {
  color: inherit;
}
.navbar {
  background-color: #ffffff;
  border-bottom: 1px solid #7fdeff;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-bars {
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
  cursor: pointer; /* Add cursor pointer to indicate it's clickable */
}

.nav-menu {
  background-color: #fff;
  margin-top: 80px; 
  border-right: 1px solid #7fdeff;
  width: 300px;
  height: 100vh; 
  display: flex;
  flex-direction: column; 
  position: fixed;
  top: 0;
  left: -100%;
  transition: 350ms;
  z-index: 1; 
}

.nav-menu.active {
  left: 0;
}

.nav-text {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
}

.nav-text a {
  text-decoration: none;
  color: #000;
  font-size: 18px;
  width: 100%; 
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.nav-text a:hover {
  background-color: #1976d2;
  color: #fff;
  width: 240px;
}

.nav-menu-items {
  width: 100%;
  color: #fff;
}

.navbar-toggle {
  background-color: #ffffff;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
}

span {
  margin-left: 16px;
}

.box {
  display: flex;
  align-items: center;
  margin-right: 50px;
}

.box div {
  margin-left: 10px; /* Adjust margin as needed */
}

.user-label {
  position: relative;
  align-items: end;
}

.icon-button {
  margin-right: 15px;
}