a, a:visited, a:hover, a:active {
  color: inherit;
}
.navbar {
    background-color: #ffffff;
    border-bottom: 1px solid #7fdeff;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .menu-bars {
    margin-left: 2rem;
    font-size: 2rem;
    background: none;
  }
  
  .nav-menu {
    background-color: #fff;
    width: 300px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;
  }
  
  .nav-menu.active {
    left: 0;
    transition: 350ms;
    color: #fff;
  }
  
  .nav-text {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 8px 0px 8px 16px;
    list-style: none;
    height: 60px;
  }
  
  .nav-text a {
    text-decoration: none;
    color: #000;
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
  }
  
  .nav-text a:hover {
    background-color: #1976d2;
    color: #fff;
  }
  
  .nav-menu-items {
    width: 100%;
    color: #fff;
    border-right: 1px solid #1976d2;
  }
  
  .navbar-toggle {
    background-color: #ffffff;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
    
  }
  
  span {
    margin-left: 16px;
  }
  .box {
    display: flex;
    align-items: center;
    margin-right: 50px;
  }
  
  .box div {
    margin-left: 10px; /* Adjust margin as needed */
  }
  .user-label{
    position: relative;
    align-items: end;
  }
  .icon-button{
    margin-right: 15px;
  }
